body {
  background: url("/public/home-banner.png");
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;

  z-index: -1;
  content: "";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.home-title {
  color: #fff;
  font-size: 16px;

  font-weight: 600;
  line-height: 1.2;
}

.home-container {
  align-items: center;
  justify-content: center;
  /* row-gap: 40px; */
  background-color: blanchedalmond;
  border: blue;
  height: 300px;
  width: 400px;
  position: absolute;
  bottom: 5px;
}

.category {
  display: flex;
  margin-top: 150px;
}

.intro {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.introText {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: -25px;
}

.home,
.btn.btn-primary {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.btn.btn-primary {
  background-color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.topHome-Nav {
  display: flex;
  align-items: center;
  column-gap: 75px;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
  margin-left: -4px;
  width: 100%;
  transition: ease-in-out 0.3s;
  color: var(--white);
  background: hsla(0, 0%, 13%, 0.5);
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #494646;
}

.topRightHome-Nav {
  display: flex;
  justify-content: space-between;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(238 240 242 / 80%);
}

.card-image,
.card-body {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  
}

