
.card-container-jewelry {
    display: grid;
    margin-top: 400px;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    /* margin-top: 400px; */
    row-gap: 40px;
    padding: 10px;
    background-color: rgb(238 240 242 / 80%);
  }
  
  .card-image-jewelry,
  .card-body-jewelry {
    height: 250px;
    width: 250px;
  }